input {
    jdbc {
        jdbc_driver_library => "/Users/choon/bitproject/elasticsearch/es-mysql/mysql-connector-java-5.1.45-bin.jar"
        jdbc_driver_class => "com.mysql.jdbc.Driver"
        jdbc_connection_string => ""
        jdbc_user => "tripster"
        jdbc_password => ""
        jdbc_page_size => 100
        schedule => "* * * * *"
        statement => "SELECT Member_ID, SNS_ID, Member_Email, Member_Name, Member_Sex, Member_Birthday, Member_Picture, Created, Updated FROM tbl_Member"
    }
}

output {
    elasticsearch {
        hosts => [""]
        index => "test"
        document_type => "member"
    }

}

