input {
    jdbc {
        jdbc_driver_library => "/Users/choon/bitproject/elasticsearch/es-mysql/mysql-connector-java-5.1.45-bin.jar"
        jdbc_driver_class => "com.mysql.jdbc.Driver"
        jdbc_connection_string =>""
        jdbc_user => "tripster"
        jdbc_password => ""
        jdbc_page_size => 100
        jdbc_paging_enabled => true
        schedule => "* * * * *"
        use_column_value => true
        tracking_column_type => "numeric"
        tracking_column => Contents_ID
        type => contents
        id => Contents_ID
        statement => " SELECT * FROM tbl_contents WHERE Contents_ID > :sql_last_value "
        last_run_metadata_path => "{last_run_path}"
    }
}

output {
    elasticsearch {
        hosts => [""]
        index => "test"
        index_type => "contents"
    }
}

