
input {
################### contents ########################################
    jdbc {
        jdbc_driver_library => "${JDBC_DRIVER_LIBRARY}"
        jdbc_driver_class => "com.mysql.jdbc.Driver"
        jdbc_connection_string => "${JDBC_MYSQL_STRING}"
        jdbc_user => "tripster"
        jdbc_password => "${JDBC_PASSWORD}"
        type => "contents"
        statement => "SELECT List.Contents_ID, List.Category_ID, Category_Value_kor, Contents_Title, Contents_Keyword, Contents_Location, Contents_Country, Contents_City,Contents_Rating,Contents_View_Cnt, Contents_Review_Cnt, Contents_Scrap_Cnt,Contents_Thumbnail, IFNULL(Contents_Contents,'') AS Contents_Contents, IFNULL(Contents_Time,'') AS Contents_Time, IFNULL(Contents_Tel,'') AS Contents_Tel, IFNULL(Contents_Lat,0) AS Contents_Lat, IFNULL(Contents_Long,0) AS Contents_Long FROM (SELECT Contents_ID, tbl_Contents.Category_ID, Category_Value_kor, Contents_Title, Contents_Keyword, Contents_Location, Contents_Country, Contents_City,Contents_Rating,Contents_View_Cnt, Contents_Review_Cnt, Contents_Scrap_Cnt,Contents_Thumbnail FROM tbl_Contents JOIN tbl_Category ON tbl_Contents.Category_ID = tbl_Category.Category_ID) AS List LEFT JOIN tbl_Contents_Detail ON List.Contents_ID = tbl_Contents_Detail.Contents_ID WHERE List.Contents_ID > 60000 "

    }
################### member ########################################
    # jdbc {
    #     jdbc_driver_library => "${JDBC_DRIVER_LIBRARY}"
    #     jdbc_driver_class => "com.mysql.jdbc.Driver"
    #     jdbc_connection_string => "${JDBC_MYSQL_STRING}"
    #     jdbc_user => "tripster"
    #     jdbc_password => "${JDBC_PASSWORD}"
    #     type => "member"
    #     statement => "SELECT Member_ID, Member_Name, Member_Email, Member_Sex, Member_Birthday, IFNULL(Member_Picture,'') AS Member_Picture, Created, Updated FROM tbl_Member "
    # }
#     jdbc {
#         jdbc_driver_library => "${JDBC_DRIVER_LIBRARY}"
#         jdbc_driver_class => "com.mysql.jdbc.Driver"
#         jdbc_connection_string => "${JDBC_MYSQL_STRING}"
#         jdbc_user => "tripster"
#         jdbc_password => "${JDBC_PASSWORD}"
#         type => "member_follow"
#         statement => "SELECT Follow_ID, Member_ID FROM tbl_Follow "
#     }
# ################### plan ########################################
#     jdbc {
#         jdbc_driver_library => "${JDBC_DRIVER_LIBRARY}"
#         jdbc_driver_class => "com.mysql.jdbc.Driver"
#         jdbc_connection_string => "${JDBC_MYSQL_STRING}"
#         jdbc_user => "tripster"
#         jdbc_password => "${JDBC_PASSWORD}"
#         type => "plan"
#         statement => "SELECT Plan_ID, tbl_Plan.Member_ID, Member_Name, IFNULL(Member_Picture,'') AS Member_Picture, IFNULL((SELECT Memo_Picture_Name FROM tbl_Memo_Picture WHERE tbl_Memo_Picture.Plan_Detail_ID IN (SELECT Plan_Detail_ID FROM tbl_Plan_Detail WHERE tbl_Plan_Detail.Plan_ID = tbl_Plan.Plan_ID) LIMIT 1),'') AS Memo_Picture_Name, Plan_Title, Plan_StartDate, Plan_EndDate, Plan_EndChk, Plan_Like_Cnt,tbl_Plan.Created, tbl_Plan.Updated FROM tbl_Plan JOIN tbl_Member ON tbl_Plan.Member_ID=tbl_Member.Member_ID"
#     }
    # jdbc {
    #     jdbc_driver_library => "${JDBC_DRIVER_LIBRARY}"
    #     jdbc_driver_class => "com.mysql.jdbc.Driver"
    #     jdbc_connection_string => "${JDBC_MYSQL_STRING}"
    #     jdbc_user => "tripster"
    #     jdbc_password => "${JDBC_PASSWORD}"
    #     type => "plan_detail"
    #     statement => "SELECT Plan_ID, Plan_Detail.Plan_Detail_ID, Contents_ID, Contents_Title, Contents_Keyword, Plan_Detail_StartTime, Plan_Detail_EndTime, Plan_Detail_Date, IFNULL( (SELECT Memo_Picture_Name FROM tbl_Memo_Picture WHERE Plan_Detail.Plan_Detail_ID = tbl_Memo_Picture.Plan_Detail_ID LIMIT 1) ,'') AS Memo_Picture_Name, Plan_Detail.Created, Plan_Detail.Updated FROM (SELECT Plan_ID, Plan_Detail_ID, tbl_Plan_Detail.Contents_ID, Contents_Title, Contents_Keyword, IFNULL(Plan_Detail_StartTime,'') AS Plan_Detail_StartTime,  IFNULL(Plan_Detail_EndTime,'') AS Plan_Detail_EndTime, IFNULL(Plan_Detail_Date,'') AS Plan_Detail_Date,tbl_Plan_Detail.Created, tbl_Plan_Detail.Updated FROM tbl_Plan_Detail JOIN tbl_Contents ON tbl_Plan_Detail.Contents_ID = tbl_Contents.Contents_ID) AS Plan_Detail"
    # }
    # jdbc {
    #     jdbc_driver_library => "${JDBC_DRIVER_LIBRARY}"
    #     jdbc_driver_class => "com.mysql.jdbc.Driver"
    #     jdbc_connection_string => "${JDBC_MYSQL_STRING}"
    #     jdbc_user => "tripster"
    #     jdbc_password => "${JDBC_PASSWORD}"
    #     type => "plan_reply"
    #     statement => "SELECT Plan_ID, Plan_Reply_ID, Member_ID FROM tbl_Plan_Reply"
    # }
}

filter {
    mutate {
        gsub => [ "contents_keyword","['\[\]]",""]
        strip => ["contents_keyword"]
        gsub => ["contents_keyword","_"," "]
        split => { "contents_keyword" => "," }
    }
}

output {
     stdout { codec => "rubydebug" }

        elasticsearch {
            hosts => ["211.117.65.79:9200"]
            index => "contents2"
            document_type => "contents2"
            document_id => "%{contents_id}"
            template_name => "contents"
            template => "/Users/choon/bitproject/ELK/logstash-550/config/pipeline/mapping/contents.json"
        }

    # if [type] == "member" {
    #     elasticsearch {
    #         hosts => ["211.117.65.79:9200"]
    #         index => "member"
    #         document_type => "%{type}"
    #         document_id => "%{member_id}"
    #         template_name => "member"
    #         template => "/Users/choon/bitproject/ELK/logstash-550/config/pipeline/mapping/member.json"
    #     }
    # }
    # if [type] == "plan" {
    #     elasticsearch {
    #         hosts => ["${ES_HOST}"]
    #         index =>"plan"
    #         document_type => "%{type}"
    #         document_id => "%{plan_id}"
    #         template_name => "plan"
    #         template => "/Users/choon/bitproject/ELK/logstash-550/config/pipeline/mapping/plan2.json"
    #     }
    # }
    # if [type] == "plan_detail" {
    #     elasticsearch {
    #         hosts => ["${ES_HOST}"]
    #         index =>"plan"
    #         document_type => "%{type}"
    #         document_id => "%{plan_detail_id}"
    #         template_name => "plan"
    #         template => "/Users/choon/bitproject/ELK/logstash-550/config/pipeline/mapping/plan2.json"
    #     }
    # }
    # if [type] == "plan_reply" {
    #     elasticsearch {
    #         hosts => ["${ES_HOST}"]
    #         index =>"plan"
    #         document_type => "%{type}"
    #         document_id => "%{plan_reply_id}"
    #         template_name => "plan"
    #         template => "/Users/choon/bitproject/ELK/logstash-550/config/pipeline/mapping/plan2.json"
    #     }
    # }
}

