input {
    jdbc {
        jdbc_driver_library => "${JDBC_DRIVER_LIBRARY}"
        jdbc_driver_class => "com.mysql.jdbc.Driver"
        jdbc_connection_string => "${JDBC_MYSQL_STRING}"
        jdbc_user => "tripster"
        jdbc_password => "${JDBC_PASSWORD}"
        jdbc_page_size => 10000
        schedule => "* * * * *"
        use_column_value => true
        tracking_column_type => "numeric"
        tracking_column => "contents_id"
        type => "contents"
        statement => "SELECT Contents_ID, tbl_Contents.Category_ID, Category_Value_kor, Contents_Title, Contents_Keyword, Contents_Location, Contents_Country, Contents_City,Contents_Rating,Contents_View_Cnt, Contents_Review_Cnt, Contents_Scrap_Cnt,Contents_Country,Contents_City,Contents_Thumbnail, tbl_Contents.Created, tbl_Contents.Updated FROM tbl_Contents JOIN tbl_Category ON tbl_Contents.Category_ID = tbl_Category.Category_ID WHERE tbl_Contents.Contents_ID < 1000"
        last_run_metadata_path => "{contents_last_run_path}"
    }
    jdbc {
        jdbc_driver_library => "${JDBC_DRIVER_LIBRARY}"
        jdbc_driver_class => "com.mysql.jdbc.Driver"
        jdbc_connection_string =>  "${JDBC_MYSQL_STRING}"
        jdbc_user => "tripster"
        jdbc_password => "${JDBC_PASSWORD}"
        jdbc_page_size => 100
        schedule => "* * * * *"
        use_column_value => true
        tracking_column_type => "numeric"
        tracking_column => "member_id"
        type => "member"
        statement => "SELECT Member_ID, Member_Email, Member_Name, Member_Sex, Member_Birthday, IFNULL(Member_Picture,'') AS Member_Picture, Created, Updated FROM tbl_Member WHERE Member_ID > :sql_last_value"
        last_run_metadata_path => "{member_last_run_path}"
    }
    jdbc {
        jdbc_driver_library => "${JDBC_DRIVER_LIBRARY}"
        jdbc_driver_class => "com.mysql.jdbc.Driver"
        jdbc_connection_string => "${JDBC_MYSQL_STRING}"
        jdbc_user => "tripster"
        jdbc_password => "${JDBC_PASSWORD}"
        jdbc_page_size => 100
        jdbc_paging_enabled => true
        schedule => "* * * * *"
        use_column_value => true
        tracking_column_type => "numeric"
        tracking_column => "plan_id"
        type => "plan"
        statement => "SELECT Plan_ID, tbl_Plan.Member_ID, Member_Name, IFNULL(Member_Picture,'') AS Member_Picture, Plan_Title, Plan_StartDate, Plan_EndDate,  Plan_EndChk, Plan_Like_Cnt, tbl_Plan.Created, tbl_Plan.Updated FROM tbl_Plan JOIN tbl_Member ON tbl_Plan.Member_ID=tbl_Member.Member_ID WHERE Plan_ID > :sql_last_value"
        last_run_metadata_path => "{plan_last_run_path}"
    }
}

output {
    stdout { codec => "rubydebug" }
    if [type] == "contents" {
        elasticsearch {
            hosts => ["${ES_HOST}"]
            index => "test2"
            document_type => "%{type}"
            document_id => "%{contents_id}"
            template => "/Users/choon/bitproject/ELK/logstash-550/config/pipeline/mapping/tripster.json"
            template_name => "test"
        }
    }
    if [type] == "member" {
        elasticsearch {
            hosts => ["${ES_HOST}"]
            index => "test2"
            document_type => "%{type}"
            document_id => "%{member_id}"
            template => "/Users/choon/bitproject/ELK/logstash-550/config/pipeline/mapping/tripster.json"
            template_name => "test"
        }
        stdout { codec => "rubydebug" }
    }
    if [type] == "plan" {
        elasticsearch {
            hosts => ["${ES_HOST}"]
            index => "test2"
            document_type => "%{type}"
            document_id => "%{plan_id}"
            template => "/Users/choon/bitproject/ELK/logstash-550/config/pipeline/mapping/tripster.json"
            template_name => "test"
        }
        stdout { codec => "rubydebug" }
    }
}

