input {
    jdbc {
        jdbc_driver_library => "/Users/choon/bitproject/ELK/logstash-550/config/pipeline/mysql-connector-java-5.1.45-bin.jar"
        jdbc_driver_class => "com.mysql.jdbc.Driver"
        jdbc_connection_string =>""
        jdbc_user => "tripster"
        jdbc_password => ""
        jdbc_page_size => 5
        jdbc_paging_enabled => true
        schedule => "* * * * *"
        use_column_value => true
        tracking_column_type => "numeric"
        tracking_column => Plan_ID
        type => contents
        statement => " SELECT * FROM tbl_Contents WHERE Plan_ID > :sql_last_value ||  Updated < current_timestamp() "
        last_run_metadata_path => "{last_run_path}"
    }
}

filter {
    if [type] == "plan" {
        elasticsearch {
            hosts => ["localhost"]
        }
    }
}

output {
    elasticsearch {
        index => "test"
        document_type => "%{type}"
        document_id => "%{contents_id}"
        template => "/Users/choon/bitproject/ELK/logstash-550/config/pipeline/mapping/plan.json"
        template_name => "plan-*"
        template_overwrite => true
    }
}


