input {
    jdbc {
        jdbc_driver_library => "/Users/choon/bitproject/ELK/logstash-550/config/pipeline/postgresql-42.1.4.jar"
        jdbc_driver_class => "org.postgresql.Driver"
        jdbc_connection_string => ""
        jdbc_user => "tipster"
        jdbc_password => ""
        jdbc_page_size => 1000
        jdbc_paging_enabled => true
        schedule => "* * * * *"
        statement => " SELECT * FROM contents_result"

    }
}

filter {
    if [type] == "contents" {
        elasticsearch {
            hosts => ["localhost"]
        }
    }
}

output {
    elasticsearch {
        index => "test"
        document_type => "%{type}"
        document_id => "%{Contents_ID}"
        template => "/Users/choon/bitproject/ELK/logstash-550/config/pipeline/mapping/contents.json"
        template_name => "contents-*"
        template_overwrite => true
    }
}

